<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
						http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">

	<!-- 线程执行器配置，用于任务注册 -->
	<bean id="executor" class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">
	 <property name="corePoolSize" value="5" />
	 <property name="maxPoolSize" value="20" />
	 <property name="queueCapacity" value="100" />
	</bean>
	
	<import resource="spring-jiqing-erp-quartz.xml"/>

	<!-- 总管理类 如果将lazy-init='false'那么容器启动就会执行调度程序 --> 
	<bean id="startQuertz" lazy-init="false" autowire="no" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="triggers"> 
			<list>
			<ref bean="jiQingErpDoTime"/>
			<!--<ref bean="jiQingErpGoodDoTime"/>-->
			</list>
		</property> 
		 <property name="taskExecutor" ref="executor" />
		 <property name="autoStartup" value="true"/>
	</bean> 

</beans>