<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="bmatser.dao.BigCustomerPackageMapper">
	<!-- 查询当前用户是否是大客户返回套餐id -->
	<select id="isExist" resultType="java.lang.Integer">
		select bcpd.big_customer_package_id bigCustomerPackageId 
		 from big_customer_package_dealer bcpd,big_customer_package bcp 
        where bcpd.big_customer_package_id = bcp.id 
         and bcpd.`status` = 1
         and bcp.`status` = 1
         and bcp.start_time &lt;= now() 
		 and bcp.end_time &gt;=now()
         and bcpd.dealer_id = #{dealerId}
	</select>
	
	<!--查询商品是否是套餐商品 -->
	<select id="goodsIsPackage" resultType="java.math.BigDecimal">
		select rate from big_customer_package_goods 
		 where status =1 
		 and seller_goods_id = #{id}
		 and big_customer_package_id = #{bigCustomerPackageId}
	</select>

</mapper>