<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="bmatser.dao.DealerExpressMapper" >

	<select id="findFreightAmount" parameterType="map" resultType="bmatser.model.FreightAmount">
		select
		 dealer_id dealerId,default_express_price defaultExpressPrice,byintervallocation 
		from dealer_express
		where dealer_id = #{sellerId}
		limit 0,1
	</select>
	
	<select id="findFreightAmountFirst" parameterType="map" resultType="bmatser.model.FreightAmount">
		select
		 dealer_id dealerId,default_express_price defaultExpressPrice,byintervallocation 
		from dealer_express
		where 
		<if test="code == 0">
			id = 1
		</if> 
		<if test="code == 1">
			id = 2
		</if> 
		limit 0,1
	</select>
</mapper>
